<!doctype html>
<html lang="en" ng-app="adminApp">
<head>
    <meta charset="utf-8">
    <title>My HTML File</title>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="js/app.js"></script>
</head>
<body ng-controller="AdminListCtrl">
<div>
    <h2>Filters Area</h2>
    <div>
        <h4>search text</h4>
        any: <input ng-model="search.$">
        name: <input ng-model="search.name">
        age: <input ng-model="search.age">
    </div>
    <div>
        <h4>choose</h4>
        name:<select ng-model="search.name">
        <option ng-repeat="user in users">{{user.name}}</option>
    </select>
    </div>
</div>
<div>
    <a ui-sref="state1">State 1</a>
    <a ui-sref="state2">State 2</a>
    <div ui-view>
    </div>
</div>
</body>
</html>